@font-face {
	font-family: font;
	src: url("fonts/FiraCode-Light.ttf");
}

body {
	background-color: #121212;
	color: #e0e0e0;
	font-family: font, sans-serif;
}

.topbar {
    background: transparent;
	text-align: center;
}

.topbar button {
    background: none;
    border: none;
    color: #f8c06d;
    cursor: cell;
    padding: 8px 16px;
	font-family: font, sans-serif;
}

.topbar button:hover {
    opacity: 0.8;
}

.title {
    text-align: center;
}

.content {
    background: none;
    border: 0px dotted #e0e0e0;
    border-radius: 3px;
    margin: 20px auto;
    padding: 15px;
    max-width: 500px;
}

hr {
    max-width: 300px;
    border: 0;
    height: 1px;
    background-color: #e0e0e0;
    margin: 20px auto;
}

footer {
    margin-top: 100vh;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: transparent;
    font-family: font, sans-serif;
}
